#root {
    height: 100%;
    background: linear-gradient(45deg, #DEEBF8,#FFFAD1);;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: $light-1;
}
section {
    overflow: auto;
    z-index: 2;
}
svg {
    z-index: 1;
}
h1 {
    font-size: 1.375rem;
    @include media($sm) {
        font-size: 2.5625rem;
    };
}
h2 {
    font-size: 1.1875rem;
}
button {
    font-size: 0.875rem;
}
.d-flex {
    display: flex;
}