#root {
    height: 100%;
    background: linear-gradient(45deg, #DEEBF8,#FFFAD1);;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: $main-bg-color;
}