$white: #ffffff;
$light-1: #F5F7FB;
$light-2: #D6DBF5;
$dark-1: #4D5B9E;
$dark-2: #293264;
$dark-3: rgba(204,169,44, 0);
$success-1: #94D7A2;
$error-1: #F8BCBC;


$green-standard: #9ed996;
$yellow-standard: #f8f4af;
$red-standard: #f19090;

$green-neutral: rgba($green-standard, .5);
$yellow-neutral: rgba($yellow-standard,  .5);
$red-neutral: rgba($red-standard, .5);

$green-dark-30: darken($green-standard, 30%);

$btn-opacity: 0.5;

$primary-border-radius: 10px;

$xs: 567px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
