ul.social-links {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0;
    li {
        padding: 0;
        list-style: none;
        $classes: 'facebook', 'twitter', 'linkedin', 'whatsapp';
        @each $class in $classes {
        a.icon-#{$class} {
            display: block;
            position: relative;
            width: 25px;
            height: 25px;
            padding: 0;
            &::after {
                display: block;
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 25px;
                height: 25px;
                border-radius: 50px;
                background-image: url(./assets/svg/social-icons/#{$class}.svg);
                background-repeat: no-repeat;
                background-size: 15px;
                background-position: center;
            }
        }
        }
    }
}

ul.social-links.position-bottom {
    position: static;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}