$size: 20px;
$top-shift: 10px;
$right-shift: -35px;
.hint {
    position: absolute;
    top: $top-shift;
    right: $right-shift;
    width: $size;
    height: $size;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    &::after {
        position: absolute;
        top: 0;
        left: 0;

        content: '';
        width: $size;
        height: $size;
        background-image: url("./assets/svg/light-bulb-off.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
    }
    &[disabled] {
        &:after {
            background-image: url("./assets/svg/light-bulb-on.svg");
        } 
    }
}
.hint-error {
  width: 45px;
  display: block;
  position: absolute;
  top: $top-shift + 30px;
  right: $right-shift - 15px;
}
.click-stop {
  pointer-events: none;
}
$bg-size-initial: 0%;
$bg-size-end: 100%;
.showHint {
    $durationTime: 1s;
    $delayTime: 0.75s;
    box-shadow: 0 0 0 $green-dark-30;
    background-image: radial-gradient(white 0%, $green-neutral 100%);
    // background-size: $bg-size-initial, $bg-size-initial;
    background-position: center;
    background-repeat: no-repeat;
    animation: pulse $durationTime ease-in-out $delayTime infinite, slidebg $durationTime cubic-bezier(1, 0, 0.58, 1) infinite;
  }
  .showHint:hover {
    animation: none;
  }

  @keyframes slidebg {
    0% {
      background-size: $bg-size-initial, $bg-size-initial;
    }
    100% {
      background-size: $bg-size-end $bg-size-end;
    }
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 $green-dark-30;
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px $dark-3;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 $dark-3;
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 $green-dark-30;
      box-shadow: 0 0 0 0 $green-dark-30;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px $dark-3;
        box-shadow: 0 0 0 10px $dark-3;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 $dark-3;
        box-shadow: 0 0 0 0 $dark-3;
    }
  }