$size: 20px;
.hint {
    position: absolute;
    top: 10px;
    right: -35px;
    width: $size;
    height: $size;
    &::after {
        position: absolute;
        top: 0;
        left: 0;

        content: '';
        width: $size;
        height: $size;
        background-image: url("./assets/svg/light-bulb-off.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
    }
    &[disabled] {
        &:after {
            background-image: url("./assets/svg/light-bulb-on.svg");
        } 
    }
}
.showHint {
    box-shadow: 0 0 0 $green-standard;
    animation: pulse 1s infinite;
  }
  .showHint:hover {
    animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 $green-standard;
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 $green-standard;
      box-shadow: 0 0 0 0 $green-standard;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }