.hint {
    position: absolute;
    top: 10px;
    right: -35px;
    width: 20px;
    height: 20px;
    &::after {
        position: absolute;
        top: 0;
        left: 0;

        content: '';
        width: 20px;
        height: 20px;
        background-image: url("./assets/svg/light-bulb.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
    }
}